<% wrap_layout :layout do %>
  <div class="large-9 columns" role="content">
  <article>
    <h3><a href="#"><%= data.page.title %></a></h3>
    <%= yield %>
  </article>
  <hr />

    <div class="large-6 columns">
      <% prev_article = current_article.previous_article %>
      <% if prev_article %>
        <%= link_to("« #{prev_article.title}", prev_article.url) %>
      <% end %>
    </div>
    <div class="large-6 columns">
      <% next_article = current_article.next_article %>
      <% if next_article %>
        <%= link_to("#{next_article.title} »", next_article.url, :class => 'right') %>
      <% end %>
    </div>
  </div>
   

  <!-- Sidebar -->

  <aside class="large-3 columns">
    <p>
    Vom: <%= I18n.localize(current_article.date, :format => "%e. %B %Y") %>
  </p>
  <p>
    <% if data.page.tags %>
    Tags:
      <% data.page.tags.split(',').each do |category| %>
      <% category.strip! %>
      <%= link_to category, tag_path(category) %>
      <% end %>
    <% end %>
    </p>

    <!-- FFU 
    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More →</a>
    </div>
    -->

    <hr/>
    <%= partial "blog-calendar" %>
  </aside>

<% end %>

