<% wrap_layout :layout do %>
  <div class="large-12 columns" role="content">
    <article>
      <h3><a href="#"><%= data.page.title %></a><small> &middot; <time><%= current_article.date %></time></small></h3>
      <%= yield %>
    </article>
    <hr />
    <div class="large-6 columns">
      <% prev_article = current_article.previous_article %>
      <% if prev_article %>
        <%= link_to("« #{prev_article.title}", prev_article.url) %>
      <% end %>
    </div>
    <div class="large-6 columns">
      <% next_article = current_article.next_article %>
      <% if next_article %>
        <%= link_to("#{next_article.title} »", next_article.url, :class => 'right') %>
      <% end %>
    </div>
  </div>
<% end %>

