---
title: Baschts Blog
---
<p class="panel">
  Willkommen auf meinem Blog. Hier versuche ich in möglichst großen, unregelmäßigen Abständen Dinge festzuhalten. 
  Da ich keine Lust mehr auf externes JavaScript habe, gibt es zur Zeit keine Disqus-Kommentare. Über Feedback
  auf Twitter, ADN oder per Mail freue ich mich natürlich trotzdem.
</p>
<% current = true %>
<% blog('bascht').articles.group_by {|a| a.date.year }.each do |year, articles| %>
  <% unless current %>
    <hr/> <h3 class="year"><%= year %></h3>
  <% end %>

  <% articles.each do |article| %>
    <div class="row">
      <div class="large-10 columns">
        <h4>
          <a href="<%= article.url %>"><%= article.title %></a>
        </h4>
      </div>
      <div class="large-2 columns" role="content">
        <% if current %><span class="label radius success tiny">neu</span><% end %>
        <time class="right"><%= article.date.strftime('%F') %></time>
      </div>
    </div>
    <div class="row blog-index">
      <div class="large-10 columns">
        <article>
          <% if current %>
            <%= article.summary(380, '…') %>
          <% else %>
            <%= article.data.teaser || article.summary(120, '…') %>
          <% end %>
          <a href="<%= article.url %>">[weiterlesen]</a>
        </article>
      </div>
    </div>
    <% current = false %>
  <% end %>
<% end %>
