---
title: Tech-Blog
---
<div class="large-9 columns blog-index">
  <% blog('tech').articles.each do |article| %>
    <article>
      <h4>
        <a href="<%= article.url %>"><%= article.title %></a>
        <time><%= article.date.strftime('%b %e %Y') %></time>
      </h4>
    </article>
  <% end %>
</div>
<div class="large-3 columns">
  <p class="panel">
    Hey there. This is my externalized brain for tech-related wisdom
    (and ranting). As it just feels wrong to write about tech in german,
    I try to keep it in (broken) english.

    As always: I'd love to get feedback.
  </p>

  <ul class="no-bullet">
    <li><%= link_to "@bascht (german)", "https://twitter.com/bascht"%></li>
    <li><%= link_to "@bscht (english)", "https://twitter.com/bscht" %></li>
  </ul>
</div>
